{{> welcomemenu }}
<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome {{fullname}} to the 2019 Mobile Phone Collection
  </h1>
  <p>
    <h2>
    This is a app that will keep a record of the new mobile phones on the market.<br><br>
    All you need to do is add the make of the phone.<br>
    Then you can add a specific model.<br>
    <img src="https://i.imgur.com/uBtVwBZ.png"><br>
      <a href="https://a2-joelynch-20075072.glitch.me/login"><img src="https://i.imgur.com/mFiOtOul.png"</img></a>
  <a href="https://a2-joelynch-20075072.glitch.me/signup"><img src="https://i.imgur.com/a5Op4nF.png"</img></a>
  </h2>
  </p>
</section>