{{> menu id="purchase"}}

<section class="ui center aligned middle aligned segment">
  <p>
    <h1>Purchase Phones</h1>
  </p>
  <p>
  <h1>Apple</h1>
  <h2> Apple Iphone X | <a href="https://www.amazon.co.uk/Apple-iPhone-64-SIM-Free-Smartphone-Silver/dp/B076GV5GXF/ref=sr_1_1_sspa?keywords=Iphone+x&qid=1551988525&s=gateway&sr=8-1-spons&psc=1">Amazon</a><h2>
  <h2> Apple Iphone XS | <a href="https://www.amazon.co.uk/Apple-iPhone-XS-256GB-Space/dp/B07J6HH75H/ref=sr_1_1_sspa?keywords=Iphone+xs&qid=1551988878&s=gateway&sr=8-1-spons&psc=1">Amazon</a><h2>
  <h2> Apple Iphone XR | <a href="https://www.amazon.co.uk/Apple-iPhone-XR-64GB-Black/dp/B07JZVTM4P/ref=sr_1_1?keywords=XR&qid=1551990987&s=gateway&sr=8-1">Amazon</a><h2><br>
  <h1>Samsung</h1>
  <h2>Samsung S9 | <a href="https://www.amazon.de/Samsung-Smartphone-interner-Speicher-Speicherkarte-Midnight-Black/dp/B07GQVDDDF/ref=sr_1_1_sspa?keywords=samsung+s9&qid=1552049441&s=gateway&sr=8-1-spons&psc=1">Amazon</a><h2>
  <h2>Samsung S10 | <a href="https://www.amazon.de/Samsung-Galaxy-Smartphone-interner-Speicher-Prism-Blue/dp/B07NC3N3Z8/ref=sr_1_1_sspa?keywords=samsung+s10&qid=1552049487&s=gateway&sr=8-1-spons&psc=1">Amazon</a><h2>
  <h2>Samsung S10e | <a href="https://www.amazon.de/Samsung-Galaxy-Smartphone-interner-Speicher-Prism-White/dp/B07MTYCG43/ref=sr_1_3?keywords=samsung+s10e&qid=1552049511&s=gateway&sr=8-3">Amazon</a><h2><br>
  <h1>Google</h1>
  <h2>Google Pixel 2 | <a href="https://www.amazon.de/Google-Pixel-64GB-Android-Black-Schwarz/dp/B076L5FQ23/ref=sr_1_3?keywords=google+pixel+2&qid=1552049569&s=gateway&sr=8-3">Amazon</a><h2>
  <h2>Google Pixel 3 | <a href="https://www.amazon.de/Google-Pixel-Black-Smartphone-Schwarz/dp/B07J5NZY5T/ref=sr_1_1?keywords=google+pixel+3&qid=1552049592&s=gateway&sr=8-1">Amazon</a><h2>
  
</section>