{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome {{fullname}} to the 2019 Mobile Phone Collection
  </h1>
  <p>
    <h2>
    This is a app that will keep a record of the new mobile phones on the market.<br><br>
    All you need to do is add the make of the phone.<br>
    Then you can add a specific model.<br>
    <img src="https://i.imgur.com/uBtVwBZ.png">
  </h2>
  </p>
</section>