<form class="ui stacked segment form" action="/dashboard/adddevice" method="POST">
  <div class="field">
    <label>Manufacturer</label>
    <input placeholder="Apple" type="text" name="maker" autofocus required>
  </div>
  <button class="ui grey submit button">Add Manufacturer</button>
</form>