<form class="ui stacked segment form" action="/device/{{device.id}}/addphone" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Model</label>
      <input placeholder="Samsung S8" type="text" name="title" autofocus required>
    </div>
    <div class="field">
      <label>Memory</label>
      <input placeholder="64GB" type="text" name="memory" required>
    </div>
  </div>
  <button class="ui blue submit button">Add Phone</button>
</form>